
<tr>
    <td>
        <span favorites type="band" id="band.id"></span>
    </td>
    <td>
        <!--img class="img-rounded" width="70" height="70" ng-src="imagePath( album.image )"-->
        <img class="img-rounded" width="110" height="70" ng-src="{{ ::band.imageUrl }}">
    </td>

    <td>
        <a href="#/bands/detail/{{::band.id}}" ng-click="didSelect( band.id )">{{ ::band.name }}</a>
    </td>

    <td>
        <ul>
            <li ng-repeat="member in band.members"> {{ ::member.name }}, <small>{{ ::member.instruments | bandInstrumentFilter}}</small></li>
        </ul>
    </td>

    <td> {{ ::band.albums[band.albums.length-1] | lastAlbumFilter }} </td>

    <td> {{ ::band.origin | formedInFilter}}</td>

</tr>